page-home {

.slide-zoom {
  height: 80%;
}

img{
  margin:0;
  border-left:3px solid #488aff;
  border-bottom:3px solid #488aff;
}

img.herc{
  padding:30px;
  padding-top:0;
}

h3{
  margin:0;
  padding:0;
  padding-top:20px;
  padding-right:20px;
  border-top:3px solid #488aff;
  border-right:3px solid #488aff;
}

p{
  margin:0;
  padding:20px;
  padding-bottom:0;
  text-align: left;
  border-top:3px solid #488aff;
  border-right:3px solid #488aff;
}

}
